.preview-panel {
  display: flex;
  flex-direction: column;

  &.about {
    .name {
      margin-top: 12px;
    }
    .summary {
      margin: 32px 0;
    }
  }

  .header {
    display: flex;
    border-bottom: solid 3px lightblue;
    padding-bottom: 8px;
    margin-bottom: 32px;

    .social {
      margin-left: 32px;
      > * {
        margin-right: 16px;
      }
    }
  }

  .tags {
    display: flex;
    flex-direction: row;
    margin: 64px 8px;

    .tag {
      color: black;
      background-color: lightblue;
      display: inline-block;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      padding:0 15px;
      margin-right: 8px;
      text-decoration:none;
      font-size:12px;
      font-weight:bold;
      line-height:32px;
      height: auto;
      text-align:center;
    }
  }

  .content {
    display: flex;
    flex-direction: row;
    line-height: 24px;

    .description {
      flex: 1;
      margin: 0 8px;
    }

    .preview {
      flex: 1;
      width: 448px;
      height: 252px;
      box-shadow: 9px 8px 20px -5px black;

      img {
        width: 448px;
        height: auto;
        box-shadow: 9px 8px 20px -5px black;
      }
    }
  }

}