@import '../../styles/colors';
@import '../../styles/borders';

.profile-card {
  @extend .borders.thin;
  .name {
    font-size: 21px;
    font-weight: 400;

    margin: 0;
  }

  .title {
    font-size: 16px;
    font-weight: lighter;
    font-style: italic;

    color: $dusty-grey;

    margin: 0;
  }

  .company-name {
    font-size: 14px;
    font-weight: lighter;
  }

  hr {
    @extend .hrs.faded;
  }
}