@import '../../styles/colors';
@import '../../styles/borders';

.profile-card {
  @extend .borders.thin;
  .name {
    margin: 0 0 3px;
    white-space: nowrap;
  }

  .title {
    margin: 0 0 3px;
    white-space: nowrap;
  }

  .company-name {
    margin: 0 0 3px;
    white-space: nowrap;
  }

  hr {
    @extend .hrs.faded;
  }
}