@import './colors';

.borders {
  &.thin {
    border: solid $dusty-grey 1px;
    border-radius: 6px;
    padding: 15px;
  }
}

.hrs {
  &.faded {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, $dusty-grey, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, $dusty-grey, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, $dusty-grey, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, $dusty-grey, #f0f0f0);
  }
}