@import './colors';

$border-radius: 3px;
.borders {
  &.thin {
    border-radius: $border-radius;
    padding: 15px;
    box-shadow: 0 1px 3px 0 $dusty-grey, 0 0 0 1px #d4d4d5;
  }
}

.hrs {
  &.faded {
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #f0f0f0, $dusty-grey, #f0f0f0);
    background-image: -moz-linear-gradient(left, #f0f0f0, $dusty-grey, #f0f0f0);
    background-image: -ms-linear-gradient(left, #f0f0f0, $dusty-grey, #f0f0f0);
    background-image: -o-linear-gradient(left, #f0f0f0, $dusty-grey, #f0f0f0);
  }
}