@import '../../styles/colors';

.skill-list {
  padding-left: 0;

  >li {
    list-style: none;
    white-space: nowrap;
    margin: 4px 0;

    .icon {
      color: $dusty-grey;
      margin-right: 10px;
    }
  }
}