@import '../../styles/colors';

.social-list {
  padding-left: 0;
  display: flex;
  justify-content: space-around;

  >li {
    list-style: none;
    white-space: nowrap;
    margin: 4px 0 0;

    .icon {
      color: $pale-slate;
      font-size: 35px;
    }
  }
}