$small: 90px;
$large: $small * 2;

.item-frame {
  border: 5px solid lightblue;
  box-sizing: border-box;

  img {
    width: 100%;
    height: 100%
  }

  &.small {
    height: $small;
    width: $small;
  }

  &.large {
    height: $large;
    width: $large;
  }

  &:hover, &.selected {
    border-color: aqua;
  }

  box-shadow: 9px 8px 20px -5px black
}