body {
  margin: 0;
  padding: 64px;
  font-family: sans-serif;
  line-height: 32px;
  color: lightblue;
  background: #000000;
  background: radial-gradient(circle at center, #515151, #000000);
  background-attachment: fixed;
  display: flex;
  justify-content: center; }

a:visited {
  color: unset; }

a:hover {
  color: aqua; }

h1, h2, h3 {
  margin: 0; }

h1 {
  font-size: 24px;
  font-weight: 600; }

h2 {
  font-size: 21px;
  font-weight: 300; }

.container {
  display: flex;
  flex-wrap: wrap; }
  .container .column {
    flex: 1;
    margin-left: 8px;
    margin-right: 8px; }
    .container .column .project {
      margin: 0 32px; }
    .container .column.preview {
      flex: 3; }
