@import './styles/typography';

.layout {
  margin: 20px 80px 0;
  padding: 0;
  font-family: sans-serif;

  display: flex;
  flex-direction: row;

  >*:first-child{
    margin-right: 40px;
  }

  .left-panel {
    flex: 1;
  }

  .view-panel {
    flex: 3;
  }
}

@media (max-width: 800px) {
  .layout {
    margin: 20px 30px 0;

    >*:first-child{
      margin-right: 20px;
    }
  }
}
