.profile-card {
  margin-bottom: 64px;
  .name {
    margin-top: 32px;
  }
  .email {
    margin-bottom: 16px;
  }

  .contact {
    border-top: solid 3px lightblue;
    border-bottom: solid 3px lightblue;

    margin-right: 24px;

    .company, .location {
      font-weight: 100;
    }

    .title {
      font-weight: 100;
      font-style: italic;
    }
  }

  .social {
    padding: 4px 0;

    .fa {
      margin: 16px 32px 0 0;
    }
  }
}